%p.months_to_entitlement
  = @entitlement.months_to_entitlement
  Months
%p.weeks_to_entitlement
  = @entitlement.weeks_to_entitlement
  Weeks
%p.days_to_entitlement
  = @entitlement.days_to_entitlement
  Days